<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link 
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" 
      rel="stylesheet" 
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" 
      crossorigin="anonymous"
    />
    <!-- Personal CSS -->
    <link rel="stylesheet" href="css/product_list.css"/>    

    <title>Product List | Innovator</title>
  </head>
  <body>
    <!-- HEADER -->
    <div class="header-container-fluid" style="background-color: #17376E;">
      <nav class="navbar navbar-expand-lg navbar-dark">
        <a href="#" class="navbar-brand me-0">
            <img 
              src="img/nu-logo1.png" 
              alt="NU Logo" 
              width="150" 
              height="45"
              class="d-inline-block align-content-xl-start mx-3"
            />
        </a> 
        <ul class="navbar-nav text-center ms-auto">
          <li>
            <button 
              class="nav-link text-dark mx-3" 
              href="#"
              style="background-color: #FFB800;color: #17376E; border: 0;font-size: small;"
            >Sign Out
            </button>
          </li>
        </ul>
      </nav>
    </div>
  
    <!-- TITLE -->
    <div 
      class="border-start border-5 m-3 p-3 border-primary"
      style="color: #17376E;font-weight: bolder;font-size: xx-large;"
    >Your Products
    </div>

    <!-- CONTENT -->
    <div class="container-fluid" style="margin-top:10px; margin-bottom:10px;">
      <div class="box shadow bg-white rounded">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Product</th>
                <th scope="col">Exhibit</th>
                <th scope="col">Issued</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Apple Mac Networking</td>
                <td>CCIT HUB</td>
                <td>December 07, 2022</td>
                <td><button style="background-color: #FFB800;color: #17376E;">View</button></td>
              </tr>
            </tbody>
          </table>
        </div>     
      </div>                         
    </div>
  
    <!-- Bootstrap Bundle JS -->
    <script 
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" 
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" 
      crossorigin="anonymous">
    </script>
  </body>
</html>